@charset "UTF-8";

a{text-decoration: none;} 

body {background-color: #9de0ad;}

h2 {
	color: #c21f40;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
